@font-face {
  font-family: "lbet-mt";
  src: url(../fonts/LBetSTDMT-Medium.woff2) format("woff2"),
    url(../public/fonts/LBetSTDMT-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lbet-std";
  src: url(../fonts/LBetSTDNus-Light.woff2) format("woff2"),
    url(../public/fonts/LBetSTDNus-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lbet-std";
  src: url(../fonts/LBetSTDNus-Medium.woff2) format("woff2"),
    url(../public/fonts/LBetSTDNus-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
