@import "partials/mixins";
@import "partials/params";
@import "partials/fonts.scss";

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #202126;
  .cookie_attention {
    position: fixed;
    width: 100%;
    height: 105px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
    background-color: #ffff;
    line-height: 1.3;
    opacity: 92%;
    z-index: 9999999;
    .attention_text {
      font-size: 16px;
      color: #212639;
      font-weight: 400;
      .cookie_policy_link {
        margin-right: 24px;
        color: #70799b;
        text-decoration: underline;
      }
    }
    .cookie_attention_close_btn {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #d6d6d6;
      cursor: pointer;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background: url("./img/close.png") no-repeat center;
        background-size: 100%;
      }
    }
  }
  .cookie_attention_overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 999999;
    .cookie_attention_container {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 424px;
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid #c9cdd9;
      overflow: hidden;
      .attention_title {
        width: 100%;
        display: flex;
        padding: 24px 24px 16px 24px;
        color: #1a2139;
        font-size: 18px;
        font-family: "lbet-mt";
        border-bottom: 1px solid #eeeef0;
      }
      .conditions_block {
        width: 100%;
        padding: 37px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        color: #212639;
        font-size: 16px;
        .conditions_title {
          margin-bottom: 20px;
          font-weight: 400;
          .rules {
            color: #70799b;
            text-decoration: underline;
          }
        }
        .rules_confirm_block {
          .checkbox {
            position: relative;
            display: block;
            label {
              position: relative;
              min-height: 3.125rem;
              display: block;
              padding-left: 30px;
              margin-bottom: 0;
              font-weight: normal;
              color: #cbd3dc;
              font-size: 2.25rem;
              cursor: pointer;
              span {
                position: absolute;
                top: 50%;
                transform: translateY(-44%);
                font-size: 12px;
                color: #535c6e;
              }
              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                transition: transform 0.28s ease;
                border-radius: 3px;
                border: 1px solid #c9cdd9;
              }
              &:after {
                content: "";
                display: block;
                width: 10px;
                height: 5px;
                border-bottom: 2px solid #313945;
                border-left: 2px solid #313945;
                transform: rotate(-45deg) scale(0);
                transition: transform ease 0.1s;
                position: absolute;
                top: 35%;
                left: 1.4%;
              }
            }
            input[type="checkbox"] {
              width: auto;
              opacity: 0.00000001;
              position: absolute;
              left: 0;
              margin-left: 1.25rem;
              &:checked ~ label {
                &:before {
                  // border: 0.3125rem solid #c9d0f9;
                  // background: #000;
                }
                &:after {
                  transform: rotate(-45deg) scale(1);
                }
              }
              &:focus + label::before {
                outline: 0;
              }
            }
          }
          .cookies_rules_conf_btn {
            width: 100%;
            font-size: 16px;
            font-family: "lbet-mt";
            margin-top: 10px;
            padding: 16px 0;
            background-color: #ffe346;
            border-radius: 5px;
            cursor: pointer;
            &:disabled {
              background-color: #fff6c6;
            }
          }
        }
      }
    }
  }
}
